ckpts/
results/cache/*.json
results/cache/*.txt
results/result_test/*.json
results/result_test/*.txt
results/pred/*.pkl
results/log/*.txt
data/clevr/raw/images/
data/clevr/raw/questions/
data/clevr/raw/scenes/
data/clevr/feats/train/
data/clevr/feats/val/
data/clevr/feats/test/
data/gqa/raw/eval/
data/gqa/raw/questions1.2/
data/gqa/raw/sceneGraphs/
data/gqa/feats/gqa-frcn/
data/gqa/feats/gqa-grid/
data/vqa/raw/*.json
data/vqa/feats/train2014/
data/vqa/feats/val2014/
data/vqa/feats/test2015/
.idea/
cache/*

__pycache__/

# C extensions
*.so

# Microsoft
.vscode
.vscode/
.vs
.vs/

.mypy_cache/
cache/vqa_train.pkl
cache/vqa_val.pkl
data

# swap files
*.sw*

wandb
wandb/*

# pbs files
*.pbs